*.swp
_impactbatch.log
_ngo/
_xmsgs/
impact_impact.xwbt
ise_impact.cmd
iseconfig/nes.projectmgr
iseconfig/nes_top.xreport
nes_top.bgn
nes_top.bit
nes_top.bld
nes_top.cmd_log
nes_top.drc
nes.gise
nes.ipf
nes_top.lso
nes_top.ncd
nes_top.ngc
nes_top.ngd
nes_top.ngr
nes_top.pad
nes_top.par
nes_top.pcf
nes_top.prj
nes_top.ptwx
nes_top.stx
nes_top.syr
nes_top.twr
nes_top.twx
nes_top.unroutes
nes_top.ut
nes_top.xpi
nes_top.xst
nes_top_bitgen.xwbt
nes_top_envsettings.html
nes_top_guide.ncd
nes_top_map.map
nes_top_map.mrp
nes_top_map.ncd
nes_top_map.ngm
nes_top_map.xrpt
nes_top_ngdbuild.xrpt
nes_top_pad.csv
nes_top_pad.txt
nes_top_par.xrpt
nes_top_summary.html
nes_top_summary.xml
nes_top_usage.xml
nes_top_xst.xrpt
nesdbg/Debug/
nesdbg/Release/
nesdbg/nesdbg.opensdf
nesdbg/nesdbg.sdf
nesdbg/nesdbg.suo
nesdbg/nesdbg.vcxproj.user
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
nesdbg/ipch/
