*.swp
_impactbatch.log
_ngo/
_xmsgs/
impact_impact.xwbt
ise_impact.cmd
iseconfig/nes.projectmgr
iseconfig/nes.xreport
nes.bgn
nes.bit
nes.bld
nes.cmd_log
nes.drc
nes.gise
nes.ipf
nes.lso
nes.ncd
nes.ngc
nes.ngd
nes.ngr
nes.pad
nes.par
nes.pcf
nes.prj
nes.ptwx
nes.stx
nes.syr
nes.twr
nes.twx
nes.unroutes
nes.ut
nes.xpi
nes.xst
nes_bitgen.xwbt
nes_envsettings.html
nes_guide.ncd
nes_map.map
nes_map.mrp
nes_map.ncd
nes_map.ngm
nes_map.xrpt
nes_ngdbuild.xrpt
nes_pad.csv
nes_pad.txt
nes_par.xrpt
nes_summary.html
nes_summary.xml
nes_usage.xml
nes_xst.xrpt
nesdbg/Debug/
nesdbg/Release/
nesdbg/nesdbg.opensdf
nesdbg/nesdbg.sdf
nesdbg/nesdbg.suo
nesdbg/nesdbg.vcxproj.user
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
nesdbg/ipch/
