# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "BTN_EAST"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;

# ==== Slide Switch (SW0) ====
NET "SW0" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

# ==== RS-232 Serial Ports (RS232) ====
NET "RS232_DCE_RXD" LOC = "R7" | IOSTANDARD = LVTTL;
NET "RS232_DCE_TXD" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;

# ==== Joypads ====
NET "NES_JOYPAD_CLK"   LOC = "A8"  | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_LATCH" LOC = "B11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_DATA1" LOC = "E13" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_DATA2" LOC = "A16" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = "B4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_VSYNC"    LOC = "D5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_RED<3>"   LOC = "A4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<2>"   LOC = "C5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<1>"   LOC = "B6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<0>"   LOC = "F7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_GREEN<3>" LOC = "C7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<2>" LOC = "E8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<1>" LOC = "E9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<0>" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_BLUE<3>"  LOC = "E11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<2>"  LOC = "F12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<1>"  LOC = "B13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<0>"  LOC = "B14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

# ==== Intel StrataFlash Parallel NOR Flash (SF) ====
NET "SF_A<0>"  LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<1>"  LOC = "J13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<2>"  LOC = "J12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<3>"  LOC = "J14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<4>"  LOC = "J15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<5>"  LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<6>"  LOC = "J17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<7>"  LOC = "K14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<8>"  LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<9>"  LOC = "K12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<10>" LOC = "K13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<11>" LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<12>" LOC = "L16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<13>" LOC = "T18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<14>" LOC = "R18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<15>" LOC = "T17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<16>" LOC = "U18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<17>" LOC = "T16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<18>" LOC = "U15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<19>" LOC = "V15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<20>" LOC = "T12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<21>" LOC = "V13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<22>" LOC = "V12" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_A<23>" LOC = "N11" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_BYTE"  LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_CE0"   LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<0>"  LOC = "N10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<1>"  LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<2>"  LOC = "R10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<3>"  LOC = "V9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<4>"  LOC = "U9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<5>"  LOC = "R9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<6>"  LOC = "M9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D<7>"  LOC = "N9"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_OE"    LOC = "C18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_WE"    LOC = "D17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# ==== Character LCD (LCD) ====
NET "LCD_E" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RW" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# ==== FPGA Configuration Mode, INIT_B Pins (FPGA) ====
NET "FPGA_INIT_B" LOC = "T3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 ;

# ==== STMicro SPI serial Flash (SPI) ====
NET "SPI_SS_B" LOC = "U3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;

# ==== Analog-to-Digital Converter (ADC) ====
NET "AD_CONV" LOC = "P11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6 ;

# ==== Digital-to-Analog Converter (DAC) ====
NET "DAC_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

