# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" PERIOD = 20.0ns HIGH 40%;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "BTN_EAST"  LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN;

# ==== RS-232 Serial Ports (RS232) ====
NET "RS232_DCE_RXD" LOC = "R7" | IOSTANDARD = LVTTL;
NET "RS232_DCE_TXD" LOC = "M14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;

# ==== Slide Switche (SW0) ====
NET "SW0" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = "B4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_VSYNC"    LOC = "D5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_RED<3>"   LOC = "A4"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<2>"   LOC = "C5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<1>"   LOC = "B6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_RED<0>"   LOC = "F7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_GREEN<3>" LOC = "C7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<2>" LOC = "E8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<1>" LOC = "E9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_GREEN<0>" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "VGA_BLUE<3>"  LOC = "E11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<2>"  LOC = "F12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<1>"  LOC = "B13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VGA_BLUE<0>"  LOC = "B14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

# ==== Joypads ====
NET "NES_JOYPAD_CLK"   LOC = "A8"  | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_LATCH" LOC = "B11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_DATA1" LOC = "E13" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;
NET "NES_JOYPAD_DATA2" LOC = "A16" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8;

