# ==== Clock inputs (CLK) ====
NET "CLK_100MHZ" LOC=E3 | IOSTANDARD=LVCMOS33;

NET "CLK_100MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = T16 | IOSTANDARD = LVCMOS33;
NET "BTN_EAST"  LOC = R10 | IOSTANDARD = LVCMOS33;

# ==== Slide Switch (SW0) ====
NET "SW<0>" LOC = U9 | IOSTANDARD = LVCMOS33;
NET "SW<1>" LOC = U8  | IOSTANDARD = LVCMOS33;
NET "SW<2>" LOC = R7  | IOSTANDARD = LVCMOS33;
NET "SW<3>" LOC = R6  | IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
NET "RXD" LOC = C4 | IOSTANDARD=LVCMOS33;
NET "TXD" LOC = D4 | IOSTANDARD=LVCMOS33;

# ==== Joypads ====
#NET "NES_JOYPAD_CLK"   LOC = B13 | IOSTANDARD = LVCMOS33;#JA1
#NET "NES_JOYPAD_LATCH" LOC = F14 | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA1" LOC = D17 | IOSTANDARD = LVCMOS33;
#NET "NES_JOYPAD_DATA2" LOC = E17 | IOSTANDARD = LVCMOS33;
NET "led<0>"			LOC = "T8"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L24N_T3_34,						Sch name = LED0
NET "led<1>"			LOC = "V9"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L21N_T3_DQS_34,					Sch name = LED1
NET "led<2>"			LOC = "R8"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L24P_T3_34,						Sch name = LED2
NET "led<3>"			LOC = "T6"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L23N_T3_34,						Sch name = LED3
NET "led<4>"			LOC = "T5"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L12P_T1_MRCC_34,					Sch name = LED4
NET "led<5>"			LOC = "T4"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L12N_T1_MRCC_34,					Sch	name = LED5
NET "led<6>"			LOC = "U7"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L22P_T3_34,						Sch name = LED6
NET "led<7>"			LOC = "U6"	| IOSTANDARD = "LVCMOS33";		#Bank = 34, Pin name = IO_L22N_T3_34,						Sch name = LED7


# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = B11 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = B12 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = A3 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = B4 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = C5 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<3>"   LOC = A4 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = C6 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = A5 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = B6 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<3>" LOC = A6 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = B7 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = C7 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<2>"  LOC = D7 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<3>"  LOC = D8 | IOSTANDARD = LVCMOS33;

# ==== Audio ====
NET "AUDIO" LOC = A11 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6;#MONO AUDIO OUT
NET "AUDIO_SD" LOC = D12 | IOSTANDARD = LVCMOS33;

