# ==== Clock inputs (CLK) ====
NET "CLK_100MHZ" LOC=V10 | IOSTANDARD=LVCMOS33;

NET "CLK_100MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "BTN_EAST"  LOC = D9 | IOSTANDARD = LVCMOS33;

# ==== Slide Switch (SW0) ====
NET "SW<0>" LOC = T10 | IOSTANDARD = LVCMOS33;
NET "SW<1>" LOC = T9  | IOSTANDARD = LVCMOS33;
NET "SW<2>" LOC = V9  | IOSTANDARD = LVCMOS33;
NET "SW<3>" LOC = M8  | IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
NET "RXD" LOC = N17 | IOSTANDARD=LVCMOS33;
NET "TXD" LOC = N18 | IOSTANDARD=LVCMOS33;

# ==== Joypads ====
NET "NES_JOYPAD_CLK"   LOC = E12 | IOSTANDARD = LVCMOS33;
NET "NES_JOYPAD_LATCH" LOC = F12 | IOSTANDARD = LVCMOS33;
NET "NES_JOYPAD_DATA1" LOC = C12 | IOSTANDARD = LVCMOS33;
NET "NES_JOYPAD_DATA2" LOC = D12 | IOSTANDARD = LVCMOS33;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = N6 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = P7 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = U7 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = V7 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = N7 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = T6 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = V6 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = R7 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = T7 | IOSTANDARD = LVCMOS33;

# ==== Audio ====
NET "AUDIO" LOC = "K2" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;

